---
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";
import PostCard from "./PostCard.astro";

interface Props {
	page: Page<CollectionEntry<"posts">>;
}

const { page } = Astro.props;
const posts = page.data;
---

<div class="w-full flex flex-col gap-4">
	{posts.map((p, i) => {
		return (
			<PostCard
				entry={p}
				style={`animation-delay: calc(var(--content-delay) + ${i * 50}ms);`}
				class="onload-animation"
				title={p.data.title}
				url={`/posts/${p.slug}/`}
				published={p.data.published}
				updated={p.data.updated}
				tags={p.data.tags}
				category={p.data.category || null}
				image={p.data.image}
				description={p.data.description}
				draft={p.data.draft || false}
			/>
		);
	})}
</div>
